$footerDivColor:#A6AAB8;
$footerTextColor:#fff;





.footerMain{
    position:relative;
    width:100vw;
    height:30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color:$footerDivColor;

}

.footerLinkDiv{
position: absolute;
top:0;
left:0;
width:100%;
height:100px;


}
.footerLinkDiv a{
    display: inline-block;  
    margin: 1rem;
    
   position: relative;
   top:2rem;
   left:-160px;
   text-decoration: none;
}
.footerLinkDiv img{
    position:absolute;
    top:2rem;
    left:70rem;
    width:06rem;
    height:3rem;
    
}
.footerParagraphDiv{
    width:100%;
    height:300px;
    position: absolute;
    

}
.footerParagraphDiv{
    p:nth-child(1){
        position:absolute;
        top:2rem;
        left:07rem;
        color: $footerTextColor;
    
}
p:nth-child(2){
    position:absolute;
    top:5rem;
    left:07rem;
    color: $footerTextColor;

}
p:nth-child(3){
    position:absolute;
    top:8rem;
    left:07rem;
    text-align: left;
    color: $footerTextColor;

}
}



@media only screen and (min-width: 300px) and (max-width: 900px){
    .footerMain{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top:26rem;
        height:40rem;
        
    }
    .footerLinkDiv {
        width:100%;
 }
      .footerLinkDiv a{
          position: relative;
          top:0;
          left:0;
      }
      .footerLinkDiv img{
        position:absolute;
        top:8rem;
        left:13rem;
        }

      .footerParagraphDiv{
          position: absolute;
          top:12rem;
          left:0;
          text-align: left;
          height:400px;
          
      }
      .footerParagraphDiv{
      p:nth-child(1){
        position:absolute;
         left:1rem;
        }
     p:nth-child(2){
      position:absolute;
     left:1rem;
    }
    p:nth-child(3){
    position:absolute;
    left:1rem;
    }
}
}